@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #D5D5D5;
}

@theme {
  --color-primary: var(--foreground);
  --color-primary-foreground: var(--background);
  --color-secondary: var(--background);
  --color-secondary-foreground: var(--foreground);
  --color-accent: #2A4A6D;
  --color-accent-foreground: #46A4F5;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}